/* Top Menu bar */
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

nav{
    background-color: #ffc6c6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* the menu icon bar is check, show the menu bar */

input[type="checkbox"] {
    display: none;
}
#toggle-tab1:checked ~ 
    .toggle-menu1 > li {
    display: block;
    }
    .toggle-menu1 a{
    text-decoration: none;
}

nav ul > li {
    display: none;
    padding: 10px;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    margin: 20px 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3em;
}
nav ul > li > a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#backhome label {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    padding: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffc6c6;
    justify-content: center;
    align-items: center;
}