body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 0;
}
header {
    background-color:#ffffa3;
}

/* main section of profile */
.profile{
    background: white;
}
.profile{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.aboutmetitle{
    flex: 1;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
.section{
    padding: 1em;
    text-align: center;
}
.photo{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 100%; */
    align-items: center;
}
.photo img{
    width: 40%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid white;
    /* flex: 1; */
    background: white;
    margin: 1em;
}
.name{
    font-size: 1.5em;
    margin: 1em;
}
.photo{
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
.background, .background2{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    flex: 5;
    margin: 1em 2em;
}

.resume{
    position: relative;
    background-color: pink;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.resume a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.resume a:hover{
    background-color: rgb(245, 86, 113,0.5);
    border-radius: 10px;
}


/* skill page section */

.my-skill{
    background: white;
  }

#skills{
    padding: 1em 0;
}
#skills .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#skills .skilllogo{
    background-color:#c4d7d1;
    padding: 1em;
    height: 700px;
    text-align: center;
    flex: 0.5;
    padding: 1em;
    margin: 1em 5em;
    border: 3px solid #C8C2BE;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

#skills .section{
    flex: 0.25;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
#skills .ruby img, .rubyandrails img{
    width: 5em;
    height: 5em;
}
#skills p{
    margin-top: 1em; 
    padding: 1em;
}


/* skill page */

.my-work{
    background-color: ;
    padding:2em;
}
#works h1{
    font-size: 2em;
    padding: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
#works .wrapper{
    background-color: ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

#project1{
    background-color: hotpink;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
#project1 .videotitle{
    flex:1;
    font-size: 3vh;
    padding: 1em;
}
#project1 .video{
    flex:4;
    background-color: darksalmon;
}
.video video{
    height: 40vw;
}
#project1 li { 
display: block;
padding: 2em;
text-align: center;
text-decoration: none;
font-size: 2vh;
background-color: #ffc6c6;
}
#project1 span{
    padding: 2em 4em;
    background-color: tan;
    font-size: 2vh;
}
