/* ABOUT ME page */
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

header {
    background-color:#ffffa3;
}
nav{
    background-color: #ffc6c6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
input[type="checkbox"] {
    display: none;
    }
#toggle-tab1:checked ~ 
    .toggle-menu1 > li {
    display: block;
    }
    .toggle-menu1 a{
    text-decoration: none;
    }
nav ul > li {
    display: none;
    /* width: 100%; */
    padding: 10px;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    margin: 20px 10px;
}
nav ul > li > a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

label {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    padding: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffc6c6;
    justify-content: center;
    align-items: center;
    
}
    
.profile{
    background-color: #019a66;
}
.profile{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.aboutmetitle{
    flex: 1;
    font-size: 1em;
}
.section{
    padding: 1em;
    text-align: center;
}
.photo{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 100%; */
    align-items: center;
}
.photo img{
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    /* flex: 1; */
    background: red;
    margin: 1em;
}
.name{
    font-size: 1.5em;
    margin: 1em;
}
.photo{
    text-align: center;
    font-size: 3.5vw;
}
.background, .background2{
    font-size: 1em;
    flex: 5;
    margin: 1em 2em;
}
/* skill page */

.my-skill{
    background-color: #d7c447;
  }

#skills{
    padding: 1em 0;
}
#skills .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#skills .skilllogo{
    background-color: darkturquoise;
    padding: 1em;
    height: 700px;
    text-align: center;
    flex: 0.5;
    padding: 1em;
    margin: 1em 5em;
}

#skills .section{
    flex: 0.25;
}
#skills .ruby img, .rubyandrails img{
    width: 5em;
    height: 5em;
}
#skills p{
    margin-top: 1em; 
    padding: 1em;
}

#skills .html{
    background-color: darkslateblue;
    border: 5px solid white;
}


/* skill page */

.my-work{
    background-color: red;
    padding:2em;
}
#works h1{
    font-size: 2em;
    padding: 1em;
    text-align: center;
}
#works .wrapper{
    background-color: #adff2f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    /* margin-bottom: 2em; */
}
#project1{
    background-color: hotpink;
    flex: 1;
    /* padding: 2em; */
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
#project1 .videotitle{
    flex:1;
    background-color: darkred;
}
#project1 .video{
    flex:4;
    background-color: darksalmon;
}
.video video{
    height: 40vw;
}
#project1 li { 
display: block;
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 2vh;
background-color: #ffc6c6;
}
#project1 span{
    padding: 1em 2em;
    background-color: tan;
}
.resume{
    position: relative;
    background-color: pink;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.resume a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    /* width: 100%; */
    background-color: #89c7de;
    color: #fff;
    padding: 2em;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
footer .footermenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    /* background-color: turquoise; */
}   
footer .footermenu li {
    padding: 5px;
}

footer p {
    align-self: flex-end;
}