

@media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
    padding-top: 30px;
    }

    /* skills page */

    #skills .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #skills .skilllogo{
        padding: 1em;
        text-align: center;
        padding: 4em;
        height: auto;
        grid: 1;
        padding: 1em;
        margin: 2em;
        /* width: 50%; */
    }

    /* profile page */
    .photo{
        flex-direction: row;
    }
    .photo img{
        width: 30%;
    }

    /* menu bar */
    #backhome ul > li {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 1em;
        background-color: #ffc6c6;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin: 0;
    }
    #backhome ul > li:hover {
        background-color:#ff9393;
    }
    .toggle-menu1 span{
        color: white;
        font-size: 1.5vh;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.3em;
        border-top:0;
        border-bottom: 0;
    }
    .toggle-menu1 {
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .toggle-menu1 a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    #backhome label {
        display: none;
        flex-wrap: wrap;
        flex-direction: row;
        width: 10%;
        height: 100%;
        text-align: center;
        background-color: #ffc6c6;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    #backhome{
        background-color: #ffc6c6;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
    }
    
    footer .footermenu{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
    }   
    .bloglist  span{
        font-size: 20px;
      }
}



@media screen and (min-width: 1025px) { 
    body {
        padding-top: 100px;
    }
    
    /* for skill page */
    #works .wrapper{
        margin: 2em;
    }
    #skills .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #skills .skilllogo{
        padding: 1em;
        text-align: center;
        padding: 4em;
        height: auto;
        padding: 1em;
        margin: 2em;
        /* width: 50%; */
    }
    /* for profile page */
    .photo{
        flex-direction: row;
    }
    .photo img{
        width: 30%;
    }
    
    .profile{
        height: 100vh;
        padding: 40px;
        display: grid;
        grid-template-areas: 
        "title title title title"
        "photo bg1 bg1 bg1"
        "photo bg1 bg1 bg1"
        "photo bg2 bg2 bg2"
        "link bg2 bg2 bg2"
        ;
    }
    .aboutmetitle{
        grid-area: title;
    }
    .resume{
        grid-area: link;
    }
    .photo{
        grid-area: photo;
        display: flex;
        flex-direction: column;
    }
    .photo img{
        flex: 2;
        width: 6em;
    }
    .photo .name{
        flex: 1;
        font-size: 1em;
        margin: 1em;
        }
    .background{
        grid-area: bg1;
        font-size: 1.5em;
    }
    .background2 {
        grid-area: bg2;
        font-size: 1.5em;
    }
    /* menu section */
    .toggle-menu1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        top: 0; 
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    nav ul > li {
        width: 100%;
        display: flex;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        font-size: 20px;
        background-color: #ffb7b7;
        /* border: 5px solid lightgray; */
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin: 0;
    }
    .toggle-menu1 span{
        color: white;
        font-size: 2.5vh;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.3em;
        padding : 8px;
        border-top:0;
        border-bottom: 0;
     }
    
    .toggle-menu1 a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    #backhome  label {
    display: none;
    text-decoration: none;
    }
    #backhome ul > li:hover {
        background-color:#ff9393;
        /* border: 1px solid #ff6b6b; */
    }
    #backhome{
    background-color: sienna;
    position: relative;
    }

    
    /* blog page */
    .bloglist  span{
        font-size: 25px;
    }
    footer .footermenu{
        flex-direction: row;
        flex-wrap: wrap;
    }   
    
} 

