/* ABOUT ME page */

.profile{
    background-color: #019a66;
}
.profile{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.aboutmetitle{
    flex: 1;
    font-size: 1.5em;
}
.section{
    padding: 1em;
    text-align: center;
}
.photo{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 100%; */
    align-items: center;
}
.photo img{
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    /* flex: 1; */
    background: red;
    margin: 1em;
}
.name{
    font-size: 1.5em;
    margin: 1em;
}
.photo{
    text-align: center;
    font-size: 3.5vw;
}
.background, .background2{
    font-size: 1.5em;
    flex: 5;
    margin: 1em 2em;
}
/* skill page */

.my-skill{
    background-color: #d7c447;
  }

#skills{
    position: relative;
    padding: 1em 0;
}
#skills .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#skills .skilllogo{
    background-color: darkturquoise;
    padding: 1em;
    height: 700px;
    text-align: center;
    flex: 0.5;
    padding: 1em;
    margin: 1em 5em;
}

#skills .section{
    flex: 0.25;
}
#skills .ruby img, .rubyandrails img{
    width: 5em;
    height: 5em;
}
#skills p{
    margin-top: 1em; 
    padding: 1em;
}

#skills .html{
    background-color: darkslateblue;
    border: 5px solid white;
}


