*{
padding: 0;
margin: 0;
scroll-behavior: smooth;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 5fr 1fr;
}
header {
    grid-column: 1/1;
    grid-row: 1/1;
    background-color:#ffffa3;
    /* height: 100%; */
    /* width: 100%; */
}
nav{
   background-color: #ffc6c6;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
    /* align-items: center; */
}
h1{
    padding-top: 20px;
    margin: 30px;
}

.introduce{
    justify-content: center;
    align-items: center;
}
  input[type="checkbox"] {
    display: none;
  }
#toggle-tab1:checked ~ 
  .toggle-menu1 > li {
    display: block;
  }

ul > li {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #eddbff;
  }
label {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    padding: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffc6c6;
    justify-content: center;
    align-items: center;
  }
  .title{
    /* margin-top: 36px; */
    grid-column: 1/1;
    grid-row: 2/3;
    background-color:#ff9393;
    display: flex;
    flex-wrap: wrap;
    height:100%;
}

.title h1{
    padding: 0;
    color: black;
    margin:0;
    text-align: center;
    font-size: 3em;
  }
.title p{
      color: red;
      display: inline-block;
  }
.title h3{
    text-align: center;
}
.outside-main{
    display: flex;
    flex-direction: column; /* 要素をflexboxに対応させる */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    flex-direction: column; 
    grid-column: 1/1;
    grid-row: 3/4;
    background-color: #cce5ff;
}

.box {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
.profile{
    background-color: pink;
}
.my-skill{
    background-color: azure;
  }
.my-work{
    background-color: red;
}

.log{
    background-color: yellow;
}

.contact{
    background-color: blue;
}

footer{
    grid-row: 4/5;
}
