*{
padding: 0;
margin: 0;
scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr auto 1fr 1fr 1fr 1fr 0.2fr;
}
header {
    background-color:#ffffa3;
}
nav{
   background-color: #ffc6c6;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
    /* align-items: center; */
}
input[type="checkbox"] {
    display: none;
  }
#toggle-tab1:checked ~ 
  .toggle-menu1 > li {
    display: block;
  }

ul > li {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: white;
    text-decoration: none;
  }
label {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    padding: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffc6c6;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.box {
    width: 100vw;
    height: 100vh;
}
/* top page styling */

.introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.title{
    background-color:#ff9393;
}
.title .introduce h1{
    padding: 0;
    color: black;
    margin:0;
    text-align: center;
    font-size: 3em;
 }
.title .introduce h3{
    text-align: center;
}
.title .introduce p{
    color: red;
    text-align: center;
    display: inline-block;
  }

